html {
  box-sizing: border-box;
  height: 100%;
  font-family: 'Satisfy', cursive, Arial;
  font-size: 15px;
  letter-spacing: 0.1rem;
  background-color: black;
  min-width: 670px;
}

header {
  color: white;
  background-color: black;
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  padding-top: 30px;
}

main {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: rgb(180, 179, 179);
  border: solid 20px black;
  border-radius: 100px;
}

button {
  border: solid 1px black;
  border-radius: 5px;
  width: 190px;
  height: 30px;
  font-size: 1rem;
}

button:hover {
  transform: scale(1.05);
}

/*
#rainbow:focus, #eraser:focus {
  background-color: black;
  color: white;
}
*/

#grid-lines:active, #clear:active {
  background-color: black;
  color: white;
}

#controls {
  margin: 15px 15px 15px 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.color-pick-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .7rem;
  border: none;
  background: none;
}

.color-input {
  width: 35px;
  height: 20px; 
  border-radius: 40%;
  border: none;
  padding: none;
}

/* 
********
Controls padding of color swatch; the container that wraps the color input. Originally set to 0 but later I decided to keep default padding for better visibility
********
input[type="color"] {
  padding: 1px; 
}
 */ 

.color-input::-webkit-color-swatch {
  border: none;
  border-radius: 40%;
}

.color-input::-webkit-color-swatch-wrapper {
  border: black;
  border-radius: 40%;
  padding: 0;
}

.slide-container {
  width: 180px;
  margin-right: 5px;
}

/* The slider */
.slider {
  appearance: none; /* Override default CSS styles */
  height: 5px;
  border-radius: 10px;;
  background: white;
  border: solid 1px black;
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  transition: opacity .2s; /* 0.2 seconds transition on hover */
  width: 100%;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) to override default look) */
.slider::-webkit-slider-thumb {
  appearance: none; /* Override default look */
  width: 25px; /* Slider handle width */
  height: 25px; /* Slider handle height */
  background: rgb(0, 0, 0);
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
}

#slider-size {
  margin-top: -20px;
  font-family: arial;
  font: 1rem;
  letter-spacing: initial;
}

#outer-container {
  border: solid 2px black;
  border-radius: 10px;
  margin: 15px;
  padding: 15px;
  /* Need to adjust width and height? */
  max-width: 500px;
  min-width: 500px;
  height: 500px;
  border: solid 2px black;
  background-color: gray;
  display: flex;
  flex-wrap: wrap;

}

.box {
  /* border: solid 1px rgb(56, 55, 55); */
  background-color: white;
  box-sizing: border-box;
}

.gridLines {
  border: solid 1px rgb(56, 55, 55);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  color: white;
  background-color: black;
  height: 90px;
  font-size: 2rem;
}

.footer-knob {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: rgb(248, 248, 248);
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.knob-dimple {
  background-color: rgb(235, 235, 235);
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

@media (max-width: 950px) {
  main {
    display: flex;
    flex-direction: column;
  }

  header {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    padding: 50px;
  }

  main {
    display: flex;
    flex-direction: column-reverse;
    margin: initial;
    padding: 0 0 15px;
    align-items: center;
  }

  #controls {
    margin: 0;
    padding: 5px;
    gap: 10px;
  }

  #slider-size {
    font-family: arial;
    font: 1rem;
    letter-spacing: initial;
    margin: 0;
  }
}

