html {
  border: solid 2px green;

  box-sizing: border-box;
  height: 100%;
  font-family: 'Anton', sans-serif;
  font-size: 15px;
  letter-spacing: 0.1rem;
  
}



header {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  padding: 25px;

  border: solid 2px rgb(68, 113, 211);
}

main {
  display: flex;
  justify-content: center;
  padding: 25px;

  
  border: solid 2px black;
}

button {
  width: 160px;
  height: 35px;
  font-size: 1rem;
}

button:hover {
  transform: scale(1.05);
}

#controls {
  margin: 15px;
  padding: 15px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#pen-color-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .7rem;
}

#pen-color {
  height: 25px;
  width: 25px;
  padding: 0;
  border: none;
}

/* The slider */
.slider {
  appearance: none; /* Override default CSS styles */
  height: 5px;
  border-radius: 10px;;
  background: gray;
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  transition: opacity .2s; /* 0.2 seconds transition on hover */

}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) to override default look) */
.slider::-webkit-slider-thumb {
  appearance: none; /* Override default look */
  width: 25px; /* Slider handle width */
  height: 25px; /* Slider handle height */
  background: gray;
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
}

#slide-size {
  font-family: arial;
  font: 1rem;
  letter-spacing: initial;

}

#grid-container {
  border: solid 2px black;
  margin: 15px;
  padding: 15px;
  /* Need to adjust width and height */
  max-width: 500px;
  min-width: 500px;
  height: 500px;

  border: solid 2px black;
  background-color: gray;
  display: flex;
  flex-wrap: wrap;

}

.box {
  border: solid 1px rgb(56, 55, 55);
  background-color: white;
  box-sizing: border-box;
  
}

.box:hover {
  background-color: red;
}



footer {
  text-align: center;
  padding: 25px;

  border: solid 2px rgb(68, 113, 211);
}